{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}


{% block content %}
  <h2>Login</h2>
  {% if request.user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url={% url 'accounts:home' %}">
  {% else %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <p>
    Don't have an account? <a href="{% url 'accounts:register' %}">Register</a> here</p>

    <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a>
  {% endif %}
{% endblock %}
